<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить зрителя</title>
</head>
<body>
<h1>Добавить зрителя</h1>
<form action="/api/viewer/add" method="POST">
    <label for="name">Имя:</label>
    <input type="text" id="name" name="name"><br><br>

    <label for="age">Возраст:</label>
    <input type="number" id="age" name="age"><br><br>

    <button type="submit">Добавить зрителя</button>
</form>
</body>
</html>
